@import url('https://fonts.googleapis.com/css?family=Kantumruy%20Pro:700|Kantumruy%20Pro:400');

body {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

@media (prefers-color-scheme: light) {
  :root {
    --text: rgb(25, 1, 7);
    --background: rgb(255, 249, 251);
    --primary: rgb(241, 27, 86);
    --secondary: rgb(248, 150, 129);
    --accent: rgb(245, 146, 86);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(254, 231, 236);
    --background: rgb(5, 0, 2);
    --primary: rgb(225, 14, 74);
    --secondary: rgb(125, 29, 7);
    --accent: rgb(169, 71, 10);
  }
}
