
/* setting up colours */
@import url('https://fonts.googleapis.com/css?family=Kantumruy%20Pro:700|Kantumruy%20Pro:400');
h1, h2, h3, h4, h5 {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 8vh; /* 90.4px */}

h2 {font-size: 7vh; /* 64px */}

h3 {font-size: 6vh; /* 45.28px */}

h4 {font-size: 4vh; /* 32px */}

h5 {font-size: 3vh; /* 22.56px */}

small {font-size: 1vh; /* 11.36px */}

/* themes */
@media (prefers-color-scheme: light) {
  :rpip install -r requirements.txt
oot {
    --text: rgb(25, 1, 7);
    --background: rgb(255, 249, 251);
    --primary: rgb(241, 27, 86);
    --secondary: rgb(248, 150, 129);
    --accent: rgb(245, 146, 86);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(254, 231, 236);
    --background: rgb(5, 0, 2);
    --primary: rgb(225, 14, 74);
    --secondary: rgb(125, 29, 7);
    --accent: rgb(169, 71, 10);
  }
}

/* style */
html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, rgba(131,58,180,0.4910131288843662) 0%, rgba(253,29,29,0.8971755938703606) 30%, rgba(252,176,69,0.8831699916294643) 30%, rgba(252,176,69,0.138071952413778) 50%),  url("img/background.png");
  background-blend-mode: overlay;
  background-size: 100% 100%;

  font-family: 'Kantumruy Pro';
  font-weight: 400;

  margin: 3%;
  height: 97vh;
  overflow: hidden;
}

.content-container {
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
	background-color: white;
	min-height: 100%;
}

/* banner */
.banner {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* button styling */
button {
  border: none;
  background-color: var(--primary);
  color: var(--text);

  width: 30vi;
  height: 15vh;
  border-radius: 15px 15px 0px 0px;

  cursor: pointer;
}

.buttons {  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  gap: 1em;
  padding: 5%;
}

.moods {
  display: flex;
}

.page-content {
	flex: 1;  /* Pushes footer down */
	padding: 20px;
}

/* map shenanigans */
#map {
  max-width: 50vi;
  width: 50vh;
  max-height: 50vi;
  height: 50vh;
}

/*.splits {
	width: 100%;
	overflow: scroll;
}

body {
	min-height: 100vh;
	margin: 0;
}
  
header {
	min-height: 50px;
	background: lightcyan;

}

footer {
	height: 20vh;
	width: 100%;
	background: #333;
	color: white;
	text-align: center;
	overflow: scroll;
}

main {
	flex: 1; 
}*/


/* html buttons

<div class="buttons">
    <div class="moods">
        <button type="button">Sleepy</button>
        <button type="button">Hungover</button>
    </div>
    
    <button type="submit" class="go">GO!</button>
</div>
</div>
*/

.split-li {
	height: 5vh;
	line-height: 5vh; /* must be same as height for vertical centering */
	text-align: center;
	
	border-bottom: solid;
}
