
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: sans-serif;
}

html, body {
	height: 100%;
}

.page-content {
	flex: 1; /* Pushes footer down */
	padding: 20px;
}

footer {
	height: 20vh;
	background: #333;
	color: white;
	text-align: center;
	padding: 15px;
	overflow: scroll;
}