.splits {
	width: 100%;
	overflow: scroll;
}

body {
	min-height: 100vh;
	margin: 0;
}
  
header {
	min-height: 50px;
	background: lightcyan;
}

footer {
	min-height: 50px;
	background: PapayaWhip;
}

/* The article fills all the space between header & footer */

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}