{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="page-content">
	<h1>{{ time_remaining }}</h1>
	
	<div id="map"></div>

	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
	integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
	crossorigin=""></script>
	<script src="{{url_for("static", filename="scripts.js")}}"></script>
</div>

<footer>
{% for node in path %}
	<li class="split-li">
		<span>Node {{ node[0] }}</span>
		<span>{{ node[1] }}</span>
	</li>
{% endfor %}
</footer>

{% endblock %}