{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="page-content">
	<h1 id="speedrun-timer">{{ time_remaining }}</h1>
	
	<div class="map">
		<div id="map"></div>
		<script src="{{ url_for('static', filename='stopwatch.js') }}></script>

		<script>
			const markerData = {{ path | tojson }};
		</script>
		
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
		crossorigin=""></script>
		<script src="{{ url_for('static', filename='map.js') }}"></script>
	</div>
</div>

<footer>
{% for node in path %}
	<li class="split-li">
		<span class="split-left">Node {{ node.lng }}</span>
		<span class="split-right">{{ node.lat }}</span>
	</li>
{% endfor %}
</footer>

{% endblock %}